<h1>{{ roomName }}</h1>
<section class="others">
  Other Videos: {{ otherVideos.length }}
  {{#each otherVideos}}
  <label>{{ socketId }}</label>
  <video {{bindAttr src=videoSrc }}></video>
  {{/each}}
</section>
  <section class="you">
  <video {{bindAttr src=myStream.videoSrc }} autoplay id="video"></video>
</section>
