<h1>Room: {{ name }}, Nick: {{ nick }}</h1>
<section class="others clearfix">
    <div>Other Videos: {{ otherVideos.length }}</div>
    {{#each otherVideos}}
    <div class="pull-left other-group">
        <label class="other-label">{{ nick }}</label>
        <video {{bindAttr src=videoSrc }} autoplay class="other"></video>
    </div>
    {{/each}}
    <div class="clearfix"></div>
</section>
<section class="you">
    <video {{bindAttr src=myStream.videoSrc }} autoplay id="video"></video>
</section>
<section class="messages">
{{input type="text" value=message class="msg" action="sendMessage" onEvent="enter" }}
<button {{action 'sendMessage' message}}>Send</button>
{{#each messages}}
    <div >
        {{ time }} &lt;{{nick}}&gt; {{msg}}
    </div>
    {{/each}}
</section>
