<h1>Room: {{ name }}</h1>
{{#if editNick}}
<h1>Nick: </h1>
{{input type="text" value=newNick class="new-nick" action="saveNick" onEvent="enter" }}
<button class="send" {{action 'saveNick' newNick}}>Send</button>
{{else}}
<h1 {{action 'toggleEditNick' newNick}} > Nick: {{ user.nick }}</h1>
{{/if}}
<section class="others clearfix">
    <div>Other Videos: {{ peers.length }}</div>
    {{#each peers}}
    <div class="pull-left other-group">
        <label class="other-label">{{ nick }}</label>
        <video {{bindAttr src=videoSrc }} autoplay class="other"></video>
    </div>
    {{/each}}
    <div class="clearfix"></div>
</section>
<section class="user">
    <video {{bindAttr src=user.videoSrc }} autoplay id="video"></video>
</section>
<section class="messages">
{{input type="text" value=message class="msg" action="sendMessage" onEvent="enter" }}
<button class="send" {{action 'sendMessage' message}}>Send</button>
{{#each messages}}
    <div >
        {{ time }} &lt;{{nick}}&gt; {{msg}}
    </div>
    {{/each}}
</section>
