<div class="container">
    <div class="left-rail">
        <h1 class="name">Room: {{ name }}</h1>
        {{peer-videos peers=peers}}
    </div>
    <div class="right-rail">
        <section class="user">
            {{#if editNick}}
            <h1 class="nick" {{action 'toggleEditNick'}} >Nick: </h1>
            {{selectInput type="text" value=newNick class="new-nick" action="saveNick" onEvent="enter" }}
            <button class="send" {{action 'saveNick' newNick}}>Send</button>
            {{else}}
            <h1 class="nick" {{action 'toggleEditNick'}} > Nick: {{ user.nick }}</h1>
            {{/if}}
            <a href="#" class="download-audio" {{action 'downloadAudio'}}>Download Audio</a>
            <video {{bindAttr src=user.videoSrc }} autoplay class="user-video"></video>
        </section>
        <section class="messages">
            {{message-pane messages=messages}}
            <div class="message-input">
                {{input type="text" value=message class="msg" action="sendMessage" onEvent="enter" }}
                <button class="send" {{action 'sendMessage' message}}>Send</button>
            </div>
        </section>
    </div>
</div>
